name: Publish (TestPyPI)

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: testpypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python with uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Build distribution
        run: |
          uv build

      - name: Publish to TestPyPI
        run: |
          uv publish --publish-url https://test.pypi.org/legacy/
